.navbar-default .navbar-brand {
  color: #ffa500;
}
.navbar-right .navbar-brand {
  color: #0000ff;
  font-size: 16px;
}
.myClass {
  color: #0000ff;
  width: 500px;
  Height: 60px;
  background-color: #ffedcc;
}
