
//variable ............................................................
@navbarBrand : #ffa500; 
@NavBarRight :  #0000ff; 
@NavBarRightSize : 16px;
@myClassHeight : 60px;

	.navbar-default .navbar-brand{color: @navbarBrand;}
		
//Functions......................................................
@navbarBrandLigth : lighten(@navbarBrand, 40%);
		
//Nesting .........................................................

	.navbar-right
		{
			.navbar-brand
				{
					color:@NavBarRight;
					font-size:@NavBarRightSize;
				}	
		}

//Mixing..........................................................
	.rectangle(){
		width: 500px;
		Height: @myClassHeight;
		background-color: @navbarBrandLigth;
	}

	.myClass{
		color: @NavBarRight;
		.rectangle();
	}

